<h1 id="dnm">Home#index</h1>
<% if account_signed_in? %>
  <span>Welcome <%= current_account.username %></span>
<% end %>

<div>
  <%= link_to "Go to Posts", posts_path %>
</div>
    <!-- <form id="myForm" data-controller="hello">
  <label for="name">Name:</label>
  <input type="text" data-hello-target="name" id="name" />
  <span data-hello-error-name="name" class="error"></span><br />

  <label for="email">Email:</label>
  <input type="text" data-hello-target="email" id="email" />
  <span data-hello-error-email="emailError" class="error"></span><br />

  <label for="password">Password:</label>
  <input type="password" data-hello-target="password" id="password" />
  <span data-hello-error-password="password" class="error"></span><br />

  <input type="submit" value="Submit" />
</form> -->
    <!-- <ul>
    <li>Go down!</li>
    <li>It doesn’t matter.</li>
    <li>Plucking flowers is prohibited.</li>
    <li>We both like each other.</li>
    <li>What’s your phone number?</li>
    <li>A set of books is on the table.</li>
    <li>May God bless you!</li>
    <li>This is not fair.</li>
    <li>I hate you!</li>
    <li>It’s for the best.</li>
    <li>I talked with him.</li>
    <li>What is your contact number?</li>
    <li>What do you want to do?</li>
    <li>Are you there?</li>
    <li>Write with an improved hand.</li>
    <li>What would you like to have?</li>
    <li>Forget it</li>
    <li>Who will co-operate with you?</li>
    <li>It was nice to talk with you.</li>
    <li>Can you please repeat that?</li>
    <li>As soon as possible!</li>
    <li>You are a glutton.</li>
    <li>When will you reach?</li>
    <li>Call me back.</li>
    <li>The terms were finalized.</li>
    <li>Improve your handwriting.</li>
    <li>What’s your name?</li>
    <li>See you!</li>
    <li>The matter is clear.</li>
    <li>I appreciate it.</li>
    <li>What did you say?</li>
    <li>Be calm!</li>
    <li>How much is that?</li>
    <li>What can I do for you?</li>
    <li>I hope you understand.</li>
    <li>Do you have some money?</li>
    <li>What’s the time by your watch?</li>
    <li>I wish you a happy married life.</li>
    <li>Do you need anything?</li>
    <li>I don’t know telling a lie.</li>
    <li>I invited him to tea.</li>
    <li>Many happy returns of the day.</li>
    <li>Don’t worry!</li>
    <li>How are things going?</li>
    <li>What do we call this in English?</li>
    <li>This is not a joke.</li>
    <li>I hope so.</li>
    <li>I don’t want to.</li>
    <li>Which date falls on Sunday.</li>
    <li>I am very pleased to meet you.</li>
    <li>Watch out!</li>
    <li>Do you want to join me?</li>
    <li>One has to pass the time anyhow.</li>
    <li>I will catch you soon.</li>
    <li>Don’t move!</li>
    <li>Don’t do this.</li>
    <li>We do not travel first class.</li>
    <li>Please be seated.</li>
    <li>Let it be!</li>
    <li>Allow me to introduce myself.</li>
    <li>He looks rather nervous.</li>
    <li>What is your problem?</li>
    <li>Please help yourself.</li>
    <li>Doesn’t matter.</li>
    <li>It’s up to you.</li>
    <li>Put the books in order.</li>
    <li>I will call you later.</li>
    <li>I decline that.</li>
    <li>Come what may, I will not talk to him.</li>
    <li>The examination will start on Monday.</li>
    <li>Thank you for inviting us.</li>
    <li>How disgusting!</li>
    <li>Are you coming?</li>
    <li>India must stop being the follower.</li>
    <li>Could you stay away from my stuff?</li>
    <li>Yes, by all means.</li>
    <li>I have no idea.</li>
    <li>Have you wound the watch.</li>
    <li>I am feeling tired today.</li>
    <li>Sorry for the inconvenience.</li>
    <li>How dare you?</li>
    <li>Let’s catch up!</li>
    <li>Why are you upset?</li>
    <li>Good day to you, Sir!</li>
    <li>Follow me</li>
    <li>You turn.</li>
    <li>He owes the shopkeeper fifty rupees.</li>
    <li>What a bother!</li>
    <li>Do me a favor.</li>
    <li>We will break but not bend.</li>
    <li>Get out of my sight.</li>
    <li>Have a good trip.</li>
    <li>Rest assured!</li>
    <li>This doesn’t behoove you.</li>
    <li>What do you want from me?</li>
    <li>Come with me.</li>
    <li>I have to leave early today.</li>
    <li>He had a narrow escape.</li>
    <li>What are your likes and dislikes?</li>
    <li>What are you talking about?</li>
    <li>Join me.</li>
    <li>I have no alternative.</li>
    <li>I feel much better.</li>
    <li>Do I have to?</li>
    <li>The examination is on my head.</li>
    <li>Enjoy yourself!</li>
    <li>Didn’t you go to the cinema yesterday?</li>
    <li>May you succeed/May you be successful.</li>
    <li>It’s my pleasure.</li>
    <li>Please come as soon as possible.</li>
    <li>He became bankrupt.</li>
    <li>I will try my level best.</li>
    <li>What nonsense!</li>
    <li>Don’t be ridiculous</li>
    <li>Every moment weighed heavily on him.</li>
    <li>I did not understand.</li>
    <li>Where are you from?</li>
    <li>I got it.</li>
    <li>I wish you well!</li>
    <li>Everything is fine.</li>
    <li>Are you kidding?</li>
    <li>Good morning!</li>
    <li>I dropped in casually.</li>
    <li>Daily exercise makes you fit and healthy.</li>
    <li>God bless you.</li>
    <li>I do not understand.</li>
    <li>Whatever he says is not true.</li>
    <li>Do you speak English?</li>
    <li>Don’t be so childish.</li>
    <li>I’m sorry!</li>
    <li>I don’t have a single paisa.</li>
    <li>Read the sentences carefully.</li>
    <li>That’s so kind of you.</li>
    <li>Good heavens!</li>
    <li>It’s none of your business.</li>
    <li>I beg your pardon.</li>
    <li>It’s all yours.</li>
    <li>How disgraceful!</li>
    <li>I’m at the office.</li>
    <li>He had no money.</li>
    <li>His words have weight.</li>
    <li>Would you please speak slowly?</li>
    <li>Wonderful!</li>
    <li>What are you doing?</li>
    <li>Rod is the logic of fools.</li>
    <li>A crease is formed on the cloth.</li>
    <li>Call me any day.</li>
    <li>I shall reach by 5.30 train.</li>
    <li>What are you doing today?</li>
    <li>Go up!</li>
    <li>It’s very thoughtful of you.</li>
    <li>The temperature will come down tomorrow.</li>
    <li>I don’t know.</li>
    <li>No, I don’t want it.</li>
    <li>But he did not budge an inch.</li>
    <li>Excuse me!</li>
    <li>Do you understand me?</li>
    <li>There is something wrong with his brain.</li>
    <li>You are my responsibility.</li>
    <li>As you please.</li>
    <li>Well done, dear!</li>
    <li>Where are you?</li>
    <li>How can I go to the town center?</li>
    <li>He has a nasal accent.</li>
    <li>Can I ask you something?</li>
    <li>I’m at home.</li>
    <li>The soil of that place is fertile.</li>
    <li>Who is your favorite teacher?</li>
    <li>How old are you?</li>
    <li>I decline!</li>
    <li>Hurry up! otherwise, you will miss the train.</li>
    <li>I missed my school bus.</li>
    <li>Can I help you?</li>
    <li>I don’t need your advice</li>
    <li>The holidays will begin on 10th May.</li>
    <li>I will come again.</li>
    <li>Do you know what I mean?</li>
    <li>I apologize for being late.</li>
    <li>My room is on the second floor.</li>
    <li>Will you please help me with this?</li>
    <li>You are wasting my time.</li>
    <li>I have a house to live in.</li>
    <li>Thank you for the advice.</li>
    <li>Come on!</li>
    <li>I don’t eat nonveg on Tuesday.</li>
    <li>By whom is he being treated.</li>
    <li>Are you joining us?</li>
    <li>Cheer up!</li>
    <li>It really takes time.</li>
    <li>It is a matter of sorrow.</li>
    <li>Why are you late?</li>
    <li>Slow down your car.</li>
    <li>I’m sorry.</li>
    <li>The is fit for marriage.</li>
    <li>Did you get it?</li>
    <li>I can’t believe it.</li>
    <li>You have no match.</li>
    <li>What is happening here?</li>
    <li>I knew it.</li>
    <li>Kneel and give thanks to God.</li>
    <li>What do you mean?</li>
    <li>I’m sorry I can’t assist you.</li>
    <li>See you next time!</li>
    <li>Don’t involve me in this matter.</li>
    <li>Do you agree with me?</li>
    <li>What’s your e-mail address?</li>
    <li>Good night!</li>
    <li>That/He is against me.</li>
    <li>Have a nice day.</li>
    <li>I am tired.</li>
    <li>Believe me.</li>
    <li>You should eat a little less.</li>
    <li>I’m on my way.</li>
    <li>See you next time.</li>
    <li>Have a good time.</li>
    <li>He has a bad headache.</li>
    <li>It was nice meeting you.</li>
    <li>What do you need?</li>
    <li>His luck took a turn.</li>
    <li>Get ready to go to school.</li>
    <li>Could you help me?</li>
    <li>I just made it</li>
    <li>My watch is out of order.</li>
    <li>How are you?</li>
    <li>Are you done?</li>
    <li>All worship the rising sun.</li>
    <li>Stop making so much noise.</li>
    <li>I don’t have time</li>
    <li>These two are more or less alike.</li>
    <li>She wakes early in the morning.</li>
    <li>I admire you.</li>
    <li>Are you married all?</li>
    <li>What is done is done.</li>
    <li>Please say something.</li>
    <li>I don’t have time.</li>
    <li>Good afternoon!</li>
    <li>Whom do you suspect?</li>
    <li>We cook everyday</li>
    <li>Absolutely not.</li>
    <li>Give me a hand.</li>
    <li>He has a mild fever.</li>
    <li>Hope to see you next time.</li>
    <li>I’m good at my work.</li>
    <li>I do not mean it.</li>
    <li>I did as I was told.</li>
    <li>You are getting late for school.</li>
    <li>I’m on a diet.</li>
    <li>Thank you very much.</li>
    <li>How much do I owe you?</li>
    <li>It’s ok for him, isn’t it?</li>
    <li>I am busy.</li>
    <li>This work is not suitable for you.</li>
    <li>They like each other.</li>
    <li>The house was decorated.</li>
    <li>Try to open this door.</li>
    <li>Not yet.</li>
    <li>I love you.</li>
    <li>She/He was tired of running about.</li>
    <li>He sleeps in the afternoon.</li>
    <li>I can’t wait any longer.</li>
    <li>Slow down!</li>
    <li>Try a little self-control./Be calm.</li>
    <li>I love to play video games.</li>
    <li>Nice to meet you.</li>
    <li>I’m good.</li>
    <li>The train came on time.</li>
    <li>Talk to you tomorrow.</li>
    <li>I could see through the matter.</li>
    <li>Are you fooling me?</li>
    <li>Glad/Nice to meet you.</li>
    <li>Hurry up!</li>
    <li>Is everything ok?</li>
    <li>What time does the next train leave?</li>
    <li>He is still not well.</li>
    <li>What are you up to?</li>
    <li>I would love to.</li>
    <li>Fetch water from the well.</li>
    <li>How can I help you?</li>
    <li>What are your hobbies?</li>
    <li>I apologize.</li>
    <li>It has rained excessively today.</li>
    <li>Could you give me some money?</li>
    <li>What’s the weather like?</li>
    <li>You are going too fast.</li>
    <li>It’s a good beginning.</li>
    <li>This is your updated version.</li>
    <li>How much is it?</li>
    <li>Any day will do.</li>
    <li>He is serving his own ends.</li>
    <li>I feel sad about your loss.</li>
    <li>Oh, I am sorry. I have got a bit late</li>
    <li>Of Course!</li>
    <li>Just shut up for a minute!</li>
    <li>He/She abused me.</li>
    <li>Will you now beat him to death?</li>
    <li>Where did you get it?</li>
    <li>Speak what is true.</li>
    <li>I do not want to know anything.</li>
    <li>Do come!</li>
    <li>How long will you stay?</li>
    <li>Please credit this amount to my account.</li>
    <li>Talk to you later.</li>
    <li>Rest assured.</li>
    <li>I cannot agree with your opinions.</li>
    <li>You have bought me to shame.</li>
    <li>Well done! Keep it up!</li>
    <li>Anything else?</li>
    <li>Stop making such a noise!</li>
    <li>Walk carefully.</li>
    <li>Go slow from the crowd.</li>
    <li>How do you feel?</li>
    <li>I am very strict on this matter.</li>
    <li>I read books.</li>
    <li>I just made it.</li>
    <li>Give me a day.</li>
    <li>What do you like the most?</li>
    <li>I am busy at the moment.</li>
    <li>I agree.</li>
    <li>It has to be done.</li>
    <li>What is your favorite subject?</li>
    <li>I can’t wait</li>
    <li>All my calculations went wrong.</li>
    <li>Girls do not want to stay in the gum.</li>
    <li>Be quiet!</li>
    <li>Come with me!</li>
    <li>He scored a goal in the match.</li>
    <li>The sun rises from the east.</li>
    <li>Be careful!</li>
    <li>Shut up!</li>
    <li>Go if you can.</li>
    <li>Drive carefully.</li>
    <li>Forgive me!</li>
    <li>God bless you!</li>
    <li>The time has come.</li>
    <li>Do not disturb!</li>
    <li>Come what may!</li>
    <li>Is all good?</li>
    <li>He crushed/dashed my hopes.</li>
    <li>Please give me your hand.</li>
    <li>Get Off!</li>
    <li>How was your weekend?</li>
    <li>I will move heaven and earth.</li>
    <li>Come quickly.</li>
    <li>I don’t agree.</li>
    <li>What do you want?</li>
    <li>Please write down this address.</li>
    <li>Stop kidding.</li>
    <li>Are you sure?</li>
    <li>No, I don’t want.</li>
    <li>It is a strange thing.</li>
    <li>Could you show me your answer sheet?</li>
    <li>I’m sorry to interrupt you.</li>
    <li>Allow me!</li>
    <li>Will you go there or shall I?</li>
    <li>I made it.</li>
    <li>How can I go to the city?</li>
    <li>Do me a favor?</li>
    <li>I like fairly hot tea.</li>
    <li>Is everything alright?</li>
    <li>Can you turn the volume up?</li>
    <li>What do you think?</li>
    <li>What did you succeed in?</li>
    <li>Where are you going?</li>
    <li>I don’t need you.</li>
    <li>Your name is on the list.</li>
    <li>Happy birthday!</li>
    <li>Not the least!</li>
    <li>What is going on?</li>
    <li>The advantages of this are many.</li>
    <li>I am sorry.</li>
    <li>A lovely day, isn’t it?</li>
    <li>Let us see where he stands.</li>
    <li>Where is your office?</li>
    <li>You’re driving too fast.</li>
    <li>Have a good weekend.</li>
    <li>I said many things to him.</li>
    <li>Stop crying.</li>
    <li>When is the train leaving?</li>
    <li>It’s on the tip of my tongue</li>
    <li>I don’t like tall talks.</li>
    <li>I have completed my homework.</li>
    <li>Are you coming with me?</li>
    <li>I’m on a diet</li>
    <li>He tells a lie.</li>
    <li>Who is your class teacher?</li>
    <li>By God’s Grace!</li>
    <li>Let’s do it.</li>
    <li>You will not be able to deal with him.</li>
    <li>He will not refrain from speaking.</li>
    <li>Do as I say.</li>
    <li>What is your job?</li>
    <li>My mind is reeling.</li>
    <li>Did you get my point?</li>
    <li>Where do you live?</li>
    <li>I have a lot to talk about.</li>
    <li>Let’s celebrate!</li>
    <li>How’s it going?</li>
    <li>How have you been?</li>
    <li>How’s your family?</li>
    <li>What’s up?</li>
    <li>What’s new?</li>
    <li>Pretty good.</li>
    <li>Can’t complain.</li>
    <li>I’ve been busy.</li>
    <li>Thanks a lot.</li>
    <li>I really appreciate it.</li>
    <li>Would you like a drink?</li>
    <li>How do you feel about…?</li>
    <li>I’m returning your call.</li>
    <li>Can you tell me…?</li>
    <li>Would you happen to know…?</li>
    <li>I have no idea/clue.</li>
    <li>I’m not really sure.</li>
    <li>That’s OK.</li>
    <li>I am not accepting anything else at this time.</li>
    <li>I’m&nbsp;not&nbsp;ready&nbsp;yet.</li>
    <li>I’ll&nbsp;pay.</li>
    <li>I&nbsp;don’t&nbsp;want&nbsp;that.</li>
    <li>How’s&nbsp;work&nbsp;going?</li>
    <li>Don’t take it personally</li>
    <li>It was the least I could do.</li>
    <li>You’re the light of my life.</li>
    <li>I’m&nbsp;not&nbsp;sure.</li>
    <li>I’ll&nbsp;take&nbsp;it.</li>
    <li>I&nbsp;don’t&nbsp;want&nbsp;to&nbsp;bother&nbsp;you.</li>
    <li>Hurry!</li>
    <li>Don’t&nbsp;worry.</li>
    <li>No problem.</li>
    <li>You’re everything to me.</li>
    <li>I’m&nbsp;sorry,&nbsp;we’re&nbsp;sold&nbsp;out.</li>
    <li>I’ll&nbsp;take&nbsp;you&nbsp;to&nbsp;the&nbsp;bus&nbsp;stop.</li>
    <li>I&nbsp;feel&nbsp;good.</li>
    <li>I am dog tired</li>
    <li>Everyone&nbsp;knows&nbsp;it.</li>
    <li>I’m divorced.</li>
    <li>I adore you.</li>
    <li>I’m&nbsp;thirsty.</li>
    <li>I’m&nbsp;an&nbsp;American.</li>
    <li>I&nbsp;get&nbsp;off&nbsp;of&nbsp;work&nbsp;at&nbsp;6.</li>
    <li>I am starving</li>
    <li>Everything&nbsp;is&nbsp;ready.</li>
    <li>I’m single.</li>
    <li>I miss your laugh.</li>
    <li>I’m&nbsp;very&nbsp;busy.&nbsp;I&nbsp;don’t&nbsp;have&nbsp;time&nbsp;now.</li>
    <li>I’m&nbsp;cleaning&nbsp;my&nbsp;room.</li>
    <li>I&nbsp;have&nbsp;a&nbsp;headache.</li>
    <li>I can’t complain</li>
    <li>From&nbsp;time&nbsp;to&nbsp;time.</li>
    <li>I’d like you to meet…</li>
    <li>What’s up</li>
    <li>I’m&nbsp;not&nbsp;married.</li>
    <li>I’ll&nbsp;come&nbsp;back&nbsp;later.</li>
    <li>I&nbsp;don’t&nbsp;want&nbsp;it.</li>
    <li>How&nbsp;are&nbsp;you?</li>
    <li>Chicago&nbsp;is&nbsp;very&nbsp;different&nbsp;from&nbsp;Boston.</li>
    <li>I’m planning to…</li>
    <li>You occupy my thoughts.</li>
    <li>It cost me a fortune</li>
    <li>I’m&nbsp;cold.</li>
    <li>I&nbsp;hope&nbsp;you&nbsp;and&nbsp;your&nbsp;wife&nbsp;have&nbsp;a&nbsp;nice&nbsp;trip.</li>
    <li>I couldn’t agree more.</li>
    <li>Good&nbsp;idea.</li>
    <li>It was nice chatting with you.</li>
    <li>What are you up to these days</li>
    <li>I’m&nbsp;not&nbsp;busy.</li>
    <li>I’ll&nbsp;call&nbsp;you&nbsp;when&nbsp;I&nbsp;leave.</li>
    <li>I&nbsp;don’t&nbsp;understand.</li>
    <li>How are you doing today?</li>
    <li>Can&nbsp;you&nbsp;translate&nbsp;this&nbsp;for&nbsp;me?</li>
    <li>No, thanks. I’m OK.</li>
    <li>You are my reason for living.</li>
    <li>Long time no see</li>
    <li>I’m&nbsp;coming&nbsp;to&nbsp;pick&nbsp;you&nbsp;up.</li>
    <li>I&nbsp;know.</li>
    <li>I&nbsp;ate&nbsp;already.</li>
    <li>He&nbsp;likes&nbsp;it&nbsp;very&nbsp;much.</li>
    <li>Is it in fact the case that…?</li>
    <li>You inspire me.</li>
    <li>Thank you so much</li>
    <li>I’m&nbsp;going&nbsp;to&nbsp;leave.</li>
    <li>I&nbsp;like&nbsp;her.</li>
    <li>I&nbsp;can’t&nbsp;hear&nbsp;you.</li>
    <li>Help!</li>
    <li>Don’t you think that…?</li>
    <li>I feel sad without you.</li>
    <li>That is dirt cheap</li>
    <li>I’m&nbsp;good,&nbsp;and&nbsp;you?</li>
    <li>I&nbsp;lost&nbsp;my&nbsp;watch.</li>
    <li>I&nbsp;don’t&nbsp;know&nbsp;how&nbsp;to&nbsp;use&nbsp;it.</li>
    <li>He’s&nbsp;coming&nbsp;soon.</li>
    <li>Do you know/see what I mean?</li>
    <li>I appreciate you.</li>
    <li>That’s a good one</li>
    <li>I’m&nbsp;happy.</li>
    <li>I&nbsp;love&nbsp;you.</li>
    <li>I&nbsp;don’t&nbsp;like&nbsp;him.</li>
    <li>He’s&nbsp;right.</li>
    <li>Phrases for Telephone Calls</li>
    <li>We will be having a good time.</li>
    <li>I’m&nbsp;married.</li>
    <li>If&nbsp;you&nbsp;need&nbsp;my&nbsp;help,&nbsp;please&nbsp;let&nbsp;me&nbsp;know.</li>
    <li>I&nbsp;don’t&nbsp;speak&nbsp;very&nbsp;well.</li>
    <li>He’s&nbsp;very&nbsp;famous.</li>
    <li>Break a leg</li>
    <li>You crossed my mind.</li>
    <li>The scorching sun</li>
    <li>I’m&nbsp;hungry.</li>
    <li>I’d&nbsp;like&nbsp;to&nbsp;go&nbsp;for&nbsp;a&nbsp;walk.</li>
    <li>I&nbsp;don’t&nbsp;like&nbsp;it.</li>
    <li>He’s&nbsp;very&nbsp;annoying.</li>
    <li>Beats me!</li>
    <li>Be&nbsp;careful&nbsp;driving.</li>
  </ul> -->