<div id="<%= dom_id post %>">
  <p>
    <strong class="text-xl font-bold underline">Tilte:</strong>
    <%= post.tilte %>
  </p>

  <p>
    <strong class="text-green-600">Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <%= link_to "Show this post", post %>
  </p>

</div>
