<div id="<%= dom_id post %>">
  <p class="text-3xl font-bold underline text-red-600 mx-4">
    <strong>Tilte:</strong>
    <%= post.tilte %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

</div>
