<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts" class="grid grid-cols-3 gap-4 m-auto px-24">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
