.pagination {
    display: flex;
    margin: 1rem 0;
    margin-left: auto;
    min-height: 24px;
    justify-content: flex-end;

    .page.active {
        border-radius: 4px;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #b8c8e2;
        min-width: 24px;
        min-height: 24px;
        margin: 0 4px;
        color: #4ea6e0;
        padding: 4px;
        background: #4ea6e0;
        color: #fff;
    }

    .page.disabled {
        
        border-radius: 4px;
        box-sizing: content-box;
        padding: 4px;
        max-width: 0 4px;
        align-items: center;
        display: flex;
        justify-content: center;
        box-sizing: content-box;
        border: 1px solid #b8c8e2;
        color: #666668;
    }
}